/* **********common********** */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{font-family: 'Noto Sans KR', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, ul, ol, li, div, header, section{
    margin: 0;box-sizing: border-box; word-break: keep-all;}
.inner{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.blind{
    display: none;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
select{
    width: 200px;
    height: 30px;
    font-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: transparent;
}
select::-ms-expand {display: none;}
input{
    background: transparent;
    border-style: none;
    outline: none;
    height: 30px;
}
.inner > h2{
    margin: 50px 0;
    display: inline-block;
}
/* **********body********** */
/* covid-popup */
.covid-popup{
    text-align: center;
    background: #da5518;
    display: block;
    padding: 2px 0 5px;
    position: relative;
    width: 100%;
    top: 0;
}
.covid-popup > a{
    color: #fff;
    font-size: 11px;
    font-weight: 400;
}
.covid-popup > a:hover{
    opacity: 0.5;
}
/* header */
header{
    background: url("../img/img_mainbg.png")no-repeat fixed;
    position: relative;
    background-size: cover;
    background-position-y: -300px;
    min-height: 70vh;
}
header h1 > a{
    margin-top: 10px;
    background: url(../img/main_logo_white.svg) no-repeat;
    height: 50px;
    width: 150px;
    float: left;
}
header nav{
    height: 60px;
}
header #gnbMenu > ul{
    text-align: center;
}
header #gnbMenu > ul > li{
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}
header #gnbMenu > ul > li > a{
    color: #fff;
    font-size: 16px;
    padding: 10px;
}
header #gnbMenu > ul > li > a:hover{
    opacity: 0.5;
}
header #gnbMenu > ul .user{
    background: URL(../img/ico-04.svg) no-repeat;
    width: 35px;
    height: 35px;
    margin: 15px 0 0 50px;
    float: right;
}
header #gnbMenu > ul .user:hover{
    opacity: 0.5;
}

/* section1 */
#section1{
    height: 60px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    width: 1100px;
    margin: 10px auto 0;
}
#section1 .booking::after{
    content:"";
    display: block;
    clear: both;
}
#section1 .book01, .book02, .book03{
    float: left;
    height: 60px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
}
#section1 .book01{width: 250px;}
#section1 .book02{width: 250px;}
#section1 .book03{width: 250px;}
#section1 .book01 > ul, .book02 > ul, .book03 > ul{
    padding-left: 10px;
    padding-top: 5px;
}

#section1 .search{
    float: right;
    width: 60px;
    height: 60px;
    display: inline-block;
    box-sizing: border-box;
}
#section1 .search .search-btn{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: url(../img/ico-05.svg);
}
/* 
#section1 .booking > ul > li{
    border: 2px solid red;
}
#section1 .search{
    background-color: #efa459;
    float: right;
}
#section1 .booking.book01{
    width: 100px;
    height: 60px;
}
#section1 .booking.book02{
    width: 10%;
}
#section1 .booking.book03{
    border: 2px solid blue;
    width: 10%;
}
#section1 .booking.search{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 60px;
    float: right;
    border-radius: 10px;
}  */
/*     
    background: #efa459;
    width: 60px;
    border-radius: 10px;
}
#section1 .booking.search{
    
    float: right;
    width: 40px;

} */

#section2{}
#section2 .sec2-wrapper{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
#section2 .sec2-wrapper .nearby{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    
}
#section2 .sec2-wrapper .nearby .pic{
    display: inline-block;
    width: 300px;
    height: 250px;
    overflow: hidden;
    box-sizing: border-box;
    background: #333;
}

 #section2 .sec2-wrapper .nearby .pic img{
    height: 100%;
    position: relative;
}
#section2 .sec2-wrapper .nearby .txt p{
    padding: 1px 0;
}
#section2 .sec2-wrapper .nearby .txt p:nth-of-type(1), #section2 .sec2-wrapper .nearby .txt p:nth-of-type(3){
    font-size: 12px;
    color: rgb(92, 92, 92);
}
#section2 .sec2-wrapper .nearby .txt p:nth-of-type(2){
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
#section2 .sec2-wrapper .nearby .txt p:nth-of-type(4){
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 20px 20px 0;
}
#section2 .sec2-wrapper .nearby .txt p > b{
    font-size: 16px;
    font-weight: 600; 
}
#section2 i > img{
    width: 20px;
    height: 20px;
}
.bx-wrapper{position: relative;}
.bx-controls-direction{
    font-size: 50px;
    font-family: 'xeicon';
}
.bx-controls-direction a{
    position: absolute;
    display: block;
    top: 45%;
    transform: translateY(-50%);
    width: 50px;
    height: 60px;
    overflow:hidden;
    color: rgba(0, 0, 0, 0.6);
}
.bx-controls-direction .bx-prev{left: 10px;}
.bx-controls-direction .bx-next{right: 10px;}
.bx-controls-direction .bx-prev:before{content: "\e93b";}
.bx-controls-direction .bx-next:before{content: "\e93e";}
.bx-pager{
    position: relative;
    left: 0;
    bottom:0;
    width: 100%;
    text-align: center;
}
.bx-pager div{
    display: inline-block;
    padding: 0 15px;
}
.bx-pager div a{
    display: block;
    width: 24px;
    height:3px;
    background: rgb(133, 133, 133);
    font-size: 0;
    color:transparent;
}
.bx-pager div a.active{
    background: #333;
}
#section3 .event-wrapper .bx-prev{
    background: url(../img/ico-01.svg);
    width: 100px;
    height: 100px;
}
#section4 .style-wrapper{
    max-width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
#section4 article{
    display: inline-block;
    /* position: relative; */
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    width: 32%;
    height: 150px;
}
#section4 article div{
    float: left;
}
#section4 article div.sec4-pic{
    width: 250px; 
    height: 200px; 
    overflow: hidden;
}
#section4 article p{
    /* position: absolute; */
    padding-top: 35px;
    padding-left: 10px;
    display: inline-block;
    top: 5
}
#section4 article div.sec4-pic img{width: 100%;}
#section4 article h3{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}
#section4 article.beginner{}
#section4 article.expert{}
#section4 article.backpacker{}



footer{
    background-color: #333;
    height: 100px;
}
footer .footer-wrapper{    
    position: relative;
}
footer .logo h1 > a{
    position: absolute;
    margin-top: 10px;
    background: url(../img/footer_logo_white.svg) no-repeat;
    opacity: 0.8;
    height: 50px;
    width: 120px;
    float: left;
    margin-top: 32px;
}
footer .info{
    margin-top: 23px;
    position: absolute;
    color: #fff;
    opacity: .8;
    top: 10px;
    left: 150px;
    font-size: 12px;
    font-weight: 100;
}
footer .cooper{
    position: absolute;
    width: 50px;
    border: 1px solid white;
    float: left;
}
footer .sns{
    position: absolute;
    right: 0;
}
footer .sns a{
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: .7;
    margin: 35px 0 0 10px;
}
footer .sns a.kakao{background: url(../img/ico-16.svg) no-repeat;}
footer .sns a.kakao:hover{background: url(../img/ico-12.svg) no-repeat; opacity: 1;}
footer .sns a.instagram{background: url(../img/ico-17.svg) no-repeat;}
footer .sns a.instagram:hover{background: url(../img/ico-13.svg) no-repeat; opacity: 1;}
footer .sns a.youtube{background: url(../img/ico-18.svg) no-repeat;}
footer .sns a.youtube:hover{background: url(../img/ico-14.svg) no-repeat; opacity: 1;}
footer .sns a.facebook{background: url(../img/ico-19.svg) no-repeat;}
footer .sns a.facebook:hover{background: url(../img/ico-15.svg) no-repeat; opacity: 1;}