/* **********common********** */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{font-family: 'Noto Sans KR', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, ul, ol, li, div, header, section{
    margin: 0;box-sizing: border-box; word-break: keep-all;}
.inner{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.blind{
    display: none;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
/* **********body********** */
/* covid-popup */
.covid-popup{
    text-align: center;
    background: #ff5100;
    display: block;
    padding-bottom: 2px;
    position: relative;
    width: 100%;
    top: 0;
}
.covid-popup > a{
    color: #fff;
    font-size: 11px;
    font-weight: 400;
}
/* header */
header{
    background: url("../img/img_mainbg.png")no-repeat fixed;
    position: relative;
    background-size: cover;
    background-position-y: -300px;
    height: 800px;
}
header .main-menu{
    position: absolute;
    width: 1280px;
    top: 0;
}
header h1 > a{
    margin-top: 10px;
    background: url(../img/main_logo_white.svg) no-repeat;
    height: 50px;
    width: 150px;
    float: left;
}
header nav{
    height: 60px;
}
header #gnbMenu > ul{
    text-align: center;
}
header #gnbMenu > ul > li{
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}
header #gnbMenu > ul > li > a{
    color: #fff;
    font-size: 16px;
    padding: 10px;
}
header #gnbMenu > ul > li > a:hover{
    opacity: 0.5;
}
header #gnbMenu > ul .user{
    background: URL(../img/ico-04.svg) no-repeat;
    width: 35px;
    height: 35px;
    margin: 15px 0 0 50px;
    float: right;
}
header #gnbMenu > ul .user:hover{
    opacity: 0.5;
}

/* section1 */
#section{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid red;
}
#section .booking{}
#section .book01{}
#section .book01 ul{}
#section .book01 ul li{}
#section .book01 ul li > a{}
#section .book01 ul li > a ul > li{}
#section .book02{}
#section .book02 ul{}
#section .book02 ul li{}
#section .book02 ul li > a{}
#section .book02 ul li .none-accom{}
#section .book02 ul li .none-accom h3{}
#section .book02 ul li .none-accom {}
#section .book02 ul li .day-accom{}