/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html{font-family: 'Noto Sans Kr', sans-serif;}

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

/* common */
.wrap{}
.inner{
    width: 1200px;
    margin: 0 auto;
}
/* float를 해제하기 위한 clear처리 */
.inner:after{
    content:'';
    display: block;
    clear: both;
}
.txt-hide{}
/* header */
.header{
    text-align: center;
    background: url(../img/header_bg.jpg) center;
    /* no-repeat  */
    /* background-size: 100%;   */
}
.header:after{
    content: '';
    display: block;
    height: 3px;
    background:url(../img/bg_header_line.jpg) center;
}
.header h1{}
.header h1 a{
    display: inline-block;
    padding-top: 26px;
}
.header h1 a .img-logo{}

.header .gnb{}
.header .gnb .img-logo-m{
    display: none;
}
.header .gnb .navi{}
.header .gnb .navi > li{
    display: inline-block;
}
.header .gnb .navi > li > a{
    display: block;
    height: 78px;
    line-height: 78px;
    width: 166px;
    font-size: 19px;
    color: #384d33;
    font-family: 'Nanum Myeongjo', serif;
}
.header .gnb .navi > li > a:hover{
    font-weight: 600;
}
.header .gnb .btn-gnb-close{
    display: none;
}
.header .gnb .btn-gnb-ham{
    display: none;
}

/* footer */
.footer{}