/* common-font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{font-family: 'Noto Sans KR', sans-serif;
}


/* common-style */
body, h1, h2, h3, h4, h5, h6, ul, ol, li, div, header, section{
    margin: 0;box-sizing: border-box; word-break: keep-all;}
a{text-decoration: none;color: black;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:focus{text-decoration: none;}
a:hover, a:active{text-decoration: none;}
.blind {display:none;}
.inner{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.btn1{
    background-color: #1babe9;
    color: #0f2027;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
    transition: all ease 0.5s;
    font-weight: 700;
}
.btn1:hover{
    background-color: rgba(255, 255, 255);
    color: #0f2027;
    transform: scale(1.1);
}
a:link{
    text-decoration: none;
}
section{
    text-align: center;
}
.blind_desktop_320{display:none;} /*<br> issue */
.blind_desktop_1250{display:none;} /*<br> issue */
.blind_desktop_768{display:none;} /*<br> issue */

/* main-menu */
header{ /* mobile gnb menu와 연결 */
    position: relative;
    z-index: 1;
}
header nav h1{
    background-image: url("../img/logo_blue.svg");
    width: 117px;
    height: 45px;
    float: left;
    margin-top: 30px;
}
header nav h1 a{
    display: block;
    height: 45px;
}
h2{
    font-size: 32px;
    margin: 90px 0 50px 0;
}
#gnbMenu{
    float: right;
    margin-top:30px;
}
nav ul{
    padding-left: 0;
    text-align: right;
    display: inline-block;
}
nav ul li{
    padding: 20px;
    text-align: right;
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    opacity: 0.5;
}
nav #apply_btn{
    background-color:#fff;
    color: #0f2027;
    font-weight: 900;
    padding: 8px 17px;
    border-radius: 20px;
    font-weight: bold;
}
nav #apply_btn:hover{
    background-color:#1babe9;
    color: #0f2027;
}

/* section1 */
#section1{
    background-image: url("../img/BgMainCont.svg"), linear-gradient(to bottom, #0f2027, #203a43 94%, #2c5364 100%);
    color: #fff;
    height:80vh;
    height:800px;
}
#section1 .inner{
    position: relative;
    height: 100%;
}
#section1 #s1_t1{
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
}
#section1 #s1_t1 a{
    color:#1babe9;
    position: relative;
    display: block;
    margin: 50px auto;
    width: 150px;
    text-align: center;
    padding: 10px 0 10px 40px;
    animation-name: ani1;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
    @keyframes ani1{
        to{
            opacity: 1;
            margin: 20px auto;
        }
    }
#section1 #s1_t1 a:hover{
    color:#fff;
}
#section1 #s1_t1 a::before{
    content: "⇀ ";
    font-size: 50px;
    position: absolute;
    top: -17px;
    left: 0;
    font-size: 50px;
}
#section1 #s1_t2{
    position: absolute;
    top: 20%; 
    left: 20px;
    text-align: left;
    font-weight: 100;
}
#section1 #s1_t2 strong{
    padding-right: 5px;
}
#section1 #s1_t3{
    position: absolute;
    bottom: 20%;
    right: 20px;
}
#section1 h2{
    height: 285px;
    width: 100%;
    text-align: center;
    background-image: url("../img/ImgMainTopText.png");
    background-size: contain;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: ani2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
    @keyframes ani2{
        to{
            opacity: 1;
            margin-top: 0px;
        }
    }


/* #section2 */
#section2 h2{
    margin:90px 0;
}
#section2 article{
    height: 350px;
    background-repeat: no-repeat;
    display: inline-block;
    box-sizing: border-box;
}
#section2 article:nth-of-type(1)::before{
    content: "";
    display: inline-block;
    width: 190px;
    height: 190px;
    text-align: center;
    box-sizing: border-box;
    background-image: url("../img/boostcamp_ico.png");
    background-position-x: -4px;
    background-position-y: -4px;
    margin-bottom: 20px;
}
#section2 article:nth-of-type(2)::before{
    content: "";
    display: inline-block;
    width: 190px;
    height: 190px;
    text-align: center;
    box-sizing: border-box;
    background-image: url("../img/boostcamp_ico.png");
    background-position-x: -220px;
    background-position-y: -4px;
    margin-bottom: 20px;
}
#section2 article:nth-of-type(3)::before{
    content: "";
    display: inline-block;
    width: 360px;
    height: 190px;
    text-align: center;
    box-sizing: border-box;
    background-image: url("../img/boostcamp_ico.png");
    background-position-x: -411px;
    background-position-y: -7px;
    margin-bottom: 20px;
}


/* section3 */
#section3{
    height: 720px;
    background-image: url("../img/ImgOrgMain1.jpg");
    background-position-y: -300px;
    background-attachment: fixed;
    position: relative;
    margin-top: 90px;
}

#section3::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
#section3 div{
    position: absolute;
    width: 100%;
    margin-top: -65px;
    top: 50%;
    left: 0;
}
#section3 h2{
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
}


/* float3 */
.float3 article {
    width: 33.333%;
    float: left;
    box-sizing: border-box;
}
.float3::after {
    content: "";
    display: block;
    clear: both;
}


/* section4 */
#section4 article .pic {
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
}
#section4 article .pic img {
    width: 100%;
    transition: all 1s;
}
#section4 article .pic img:hover {
    transform: scale(1.2);
}
#section4 article h3{
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
}
#section4 article .article-box{
    border-bottom: 1px solid rgb(211, 211, 211);
    height: 160px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
#section4 article .article-box p{
    margin: 10px;
    height: 50px;
}
.article-box .a-more::after{
    display: inline-block;
    content:'>';
    margin-left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background:#1babe9;;
    color: #fff;
    font-weight: 900;
}


/* section5 */
#section5 article::before{
    content:"";
    display: inline-block;
    background-image: url("../img/boostcamp_ico.png");
    width: 317px;
    height: 194px;
    background-position-y: -216px;
}


/* section6 */
#section6{
    /* clear: both; */
    height: 720px;
    background-image: url("../img/ImgOrgProgram01.jpg");
    background-position-y: -300px;
    background-attachment: fixed;
    position: relative;
    margin-top: 90px;
}
#section6::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
#section6 div{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -65px;
}
#section6 h2{
    margin: 0;
    color: #fff;
}
/* footer */
footer .inner{
    height: 80px;
    position: relative;
}
footer p > a{
    color:#919191;
    font-size: 14px;
}
footer p b{
    color:#919191;
    font-size: 20px;
}
footer address > a{
    color:#919191;
    font-size: 14px;
}
footer .sns{
    position: absolute;
    right: 0;
    top: 20px;
}
footer .sns > a{
    float: right;
    width: 30px;
    height: 30px;
	background-repeat: no-repeat;
    background-position: center;
    transition: all ease 0.5s;
    padding-left: 10px;
}
footer .sns a:hover {
    transform: scale( 1.5 );
}
footer .sns a:nth-child(1){
background-image: url("../Img/IcoFooterSnsFacebook.svg");
}
footer .sns a:nth-child(2){
    background-image: url("../Img/IcoFooterSnsInstagram.svg");
}
footer .sns a:nth-child(3){
    background-image: url("../Img/IcoFooterSnsNaver.svg");
}
footer .sns a:nth-child(4){
    background-image: url("../Img/IcoFooterSnsGit.svg");
}


/* response-mediaQuery */

/* 1250px */
@media screen and (max-width: 1250px) {
    #section4 article .pic{
        height: 200px;
    }
    .blind_desktop_1250{
        display: block;
    }
} 
/* 1100px _ section2 x-scroll생성문제*/
@media screen and (max-width: 1100px){
   #section2 article{
       width: 100%;
       float: left;
       padding: 0 0 50px 0;
   }
}
/* 950px _ section4 우측 p태그 깨짐문제*/ 
@media screen and (max-width: 950px){
    #section4.float3 article{
            width:100%;
    }
    #section4 article .pic {
        height: 400px;
        overflow: hidden;
        box-sizing: border-box;
        cursor: pointer;
      }
}
/* 815px _ header nev 겹침문제*/
@media screen and (max-width: 815px){
    nav ul li{
        padding: 20px 10px;
        margin: 0 5px;
    }
}



/* 아이패드 768 */
@media screen and (max-width: 768px){
    .blind_desktop_768{
        display:block;
    }
    .blind_desktop_320{
        display:block;
    }
    #menuClose{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
    background-image: url("../img/mobile_close_menu.svg");
}
#menuClose:hover{
    opacity: 0.5;
}
    #back{
        background-color: rgba(0, 0, 0, 0.8);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display:none;
    }
    #gnbMenu{
        background-color:#1babe9;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 0;
        height: 100vh;
        width: 60;
        box-sizing: border-box;
        /* 제이쿼리때문에 width 0으로 만들어줌 (왠지 모르게또...ㅠ) */
        padding: 80px 25px 25px 25px;
        /* height:  */
        display:none;
    }
    nav ul li{
        display: block;
        font-size: 20px;
        text-align: left;
    }
    #menuView{
    display: block;
    background-image: url("../img/mobile_menu.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    }
    #menuView:hover{
        opacity: 0.5;
    }

    /* 지원버튼 */
    nav #apply_btn{
        display: block;
        background-color:#fff;
        color:#1babe9;
        font-style: bold;
        padding: 8px 17px;
        border-radius: 20px;
        font-weight: bold;
        margin: 20px 10px;
        /* float: right; */
    }
    nav #apply_btn:hover{
        opacity: 0.5;
        background-color:#fff;
        color:#1babe9;
    }
    #section3{
        height: 400px;
          /* background-image: url("../img/ImgOrgMain1.jpg");
        background-position-y: -300px;
        background-attachment: fixed; */
    }
    #section6{
        height: 400px;}
    h2{
        font-size: 27px;
    }
    @media screen and (max-width: 650px){
        footer .sns{
            display: none;

        }
    }
  


    #section1 h2{
    /* border:12px solid green; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/ImgMainTopTextMobilet.png");
    }
    #section1 #s1_t3{
        bottom: 15%;
    }
    .float3 article{
        width:100%;
    }
    
}
/* 모바일 414 */
@media screen and (max-width: 414px){
    
    .inner{
        padding: 0 20px;
    }
    
    #section1 #s1_t2{
    display: none;
    }
    #section1 #s1_t3{
        display: none;
        }
}
/* 모바일 최소 */
@media screen and (max-width: 320px){
    #section1 #s1_t1 a{
    margin: 0px auto;
    }
    @keyframes ani1{
        to{
        opacity: 1;
        margin: 10px auto;
        }
    }
    
}
