/* container */
.container{}
.section .visual{}
.container .visual .slider{
    height: 800px;
    position: relative;
    overflow: hidden;
}
/* container - unit01 */
.container .visual .slider .unit{}
.container .visual .slider .unit img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.container .visual .slider .unit img.pc{}
.container .visual .slider .unit img.m{
    display: none;
}
.container .visual .slider .inner{}
.container .visual .slider .inner .box-msg{
    float: right;
    background: rgba(106, 57, 6, 0.8);
    padding: 10px;
    margin-top: 35px;
}
.container .visual .slider .unit02 .inner .box-msg {
    background: red;
}
.container .visual .slider .unit03 .inner .box-msg {
    background: red;
}
.container .visual .slider .unit04 .inner .box-msg {
    background: red;
}

.container .visual .slider .inner .box-msg .box-msg-inner{
    border: 3px solid #fff;
    width: 312px;
    height: 428px;
    position: relative;
}
.container .visual .slider .inner .box-msg .box-msg-inner .cont{
    color: #fff;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    padding: 30px 0 0 130px;
    line-height: 40px;
    writing-mode: tb-rl;
}
.container .visual .slider .unit01 .inner .box-msg {
    padding-left: 130px;
}}

.container .visual .slider .inner .box-msg .box-msg-inner .cont:before{
    content='';
    display: block;
    width: 44px;
    height: 44px;
    background: url(../img/img_stamp_tit.png);
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.container .visual .slider .inner .box-msg .box-msg-inner .cont:after{
    content: '';
    display: block;
    width: 42px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 20px;
}
.container .visual .slider .box-msg-2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: #fff;
    font-family: 'Nanum Myeoungjo', sans-serif;
    font-weight: bold;
    background: url(../img/bg_visual_bottom_01.png);
}
.container .visual .slider .unit-02 .box-msg-2{
    background: url(../img/bg_visual_bottom_01.png);}
    .container .visual .slider .unit-03 .box-msg-2{
        background: url(../img/bg_visual_bottom_01.png);}
        .container .visual .slider .unit-04 .box-msg-2{
            background: url(../img/bg_visual_bottom_01.png);}
                
.section.visual .slider .box-msg-2 > p{}
.container.visual .slider .box-msg-2 > p:nth-child(2){}
.container.visual .slider .box-msg-2 > p:nth-child(3){}


/* container - banner */

.container .banner .inner .banner-wrap{
    border: 2px solid red;
}
/* container - banner01 */
.container .banner .inner .banner-wrap .banner01{
    border: 2px solid red;
    float: left;
    width: 385px;
    margin-right: 20px;
    background: url(../images/mn_bg01.png) no-repeat bottom center;
    height: 637px;
    /* float:left;
    margin: 20px 0 0 20px;
    border: 2px solid red;
    width: 300px; */
}
.container .banner .inner .banner-wrap .banner01 > p{
    /* border: 2px solid red; */
}
.container .banner .inner .banner-wrap .banner01 .more{}
.container .banner .inner .banner-wrap .banner01 .more:after{}
.container .banner .inner .banner-wrap .banner01 .img{}