/********** common **********/
.inner{width: 100%; max-width: 1024px; margin: 0 auto; padding: 0 20px;}
.blind{display: none;}
button{cursor: pointer;background-color: transparent; border: none;}
.robo{
	font-family: 'Roboto', sans-serif;
}
.sans{
  font-family: 'Noto Sans KR', sans-serif;
}
/********** fullpage-nav**********/
#fp-nav{}
#fp-nav > ul{}
#fp-nav > ul > li{
  text-align: right;
}
#fp-nav > ul > li > a{
  display: block;
}
#fp-nav > ul > li + li{
  margin-top: 2px;
}
#fp-nav > ul > li > a > span{
  font-weight:800;
  font-style: italic;
  display: inline-block;
  background: rgba(0,0,0,.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;
  transform: translateX(calc(100% - 10px));
  transition: transform 1s;
}
#fp-nav > ul > li.active > a > span{
  transform: translateX(0);
  background: rgb(0, 0, 0, .8);
}


/********** section0 **********/

/* section0-header */
#section0{}
#section0 .sec0-header{
  position: relative;
  z-index: 100;
  position: fixed;
  top: 50px;
  max-width: 1440px;
  width: 100%;
  float: left;
}
#section0 .sec0-header > p{  
  position: absolute;
  height: 20px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  opacity: .7;
}
#section0 .sec0-header .ico-mail{  
  background: url("../img/ico_email.svg") no-repeat ;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 35vh;
  transition: all ease .3s;
  opacity: .7;
}
#section0 .sec0-header .ico-mail:hover{
  transform: scale(1.2) ;
  opacity: 1;
}

/* section0-main */
#section0 .sec0-main{
  text-align: center;
}
#section0 .focus{
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  line-height: 1;
  position: relative;
  font-weight: 800;
  font-style: italic;
  display: inline-block;
  margin-top: -30px;
  animation: focus-move 0.5s forwards;
  opacity: 0;
}
@keyframes focus-move{
  to{
    opacity: 1;
    margin-top: 0px;
  }
}
#section0 .focus::before{
  content: "PUBLISHING";
	font-family: 'Roboto', sans-serif;
  filter: blur(3px);
}
#section0 .focus::after{
  content: "";
  position: absolute;
  width: 70px;
  height: calc(100% + 8px);
  top: -4px;
  left: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: mask-move 4s linear infinite alternate;
}
#section0 .focus-mask{
  overflow: hidden;
  position: absolute;
  width: 70px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #b45151;
  animation: mask-move 4s linear infinite alternate;
}
#section0 .focus-mask-inner{
  position: absolute;
  animation: mask-inner-move 4s linear infinite alternate;
}
@keyframes mask-move {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translate(320px);
  }
}
@keyframes mask-inner-move{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translate(-321px);
  }
}
#section0 .txt{
  color: #fff;
  animation: txt 1s forwards;
  animation-duration: 1s;
  padding-top: 30px;
  margin-bottom: -30px;
  opacity: 0;
}
@keyframes txt{
  to{
    opacity: 1;
    margin-bottom: 0;
  }
}
#section0 .txt >p:nth-of-type(2){
  padding: 15px;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}

#section0 .scroll{
  position: absolute;
  background: url(../img/ico_press.svg) no-repeat;
  width: 30px;
  height: 30px;
  bottom: 100px;
  left: 50%;
  animation: scroll 1.5s infinite;
  animation-delay: 2s;
  opacity: 0;
}
@keyframes scroll {
  to{opacity: 1;}
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(30px);
  }
}


/********** section1 **********/

#section1 {
  position: relative;
  background:linear-gradient(to bottom,#b45151 , #b6e4fe);
}
#section1 .sec1-bg{
  z-index: 10;
  position: absolute;
  /* background: #fff; */
  width: calc(100% - 240px);
  height: calc(100% - 240px);
  background: #fff;
  top: 120px;
  left: 120px;
  box-shadow: 8px 8px 8px rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
  #section1 .sec1-bg .info1{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #section1 .sec1-bg .inner:after{ sec1 반응형 시 
  content: '';
  display: block;
  clear: both;
} */
#section1 .left-box{/* 왼쪽박스 */
  text-align: center;
  width: 40vh;
}
#section1 .left-box > h1{
  display: inline-block;
  font-weight: 800;
  font-size: 2rem;
  color: #b45151; 
  padding-bottom: 5%;
  border-bottom: 2px solid rgb(196, 196, 196);
}
#section1 .left-box > p{
  font-size: 1rem;
  line-height: 1.3rem;
  padding-top: 6%;
  /* display: inline-block; */
  font-weight: 600;
  color: #b45151;
}
#section1 .left-box > p + p{
  color: rgb(112, 112, 112);
}
#section1 .left-box > img{
  text-align: center;
  display: inline-block;
  width: 100%;
  bottom: 0;
}
#section1 .right-box{  /* 오른쪽박스 */
  margin-left: 5%;
  width: 800px;
}
#section1 .top-box{
  float: left;
  font-weight: 600;
  font-size: 2rem;
  color: #b6e4fe;
  line-height: 4rem;
}

#section1 .bottom-box{
  float: left;
  font-size: 1rem;
  color: #646464;
  line-height: 1.5rem;
  margin-top: 5%;
}


  /* 아래 인덱스 */
/* #section1 .sec1-nav{
  position: absolute;
  width:  calc(100% - 70px);
  height: 50px;
  margin-bottom: 80px;
  text-align: center;
  bottom: 0;
}
#section1 .sec1-nav .sec1-intro{
  z-index: 999;
  color: #b45151;
}
#section1 .sec1-nav .sec1-prof{
  color: #9e9e9e;
}
#section1 .sec1-nav .sec1-expr{
  color: #9e9e9e;
}
#section1 .sec1-nav > ul > li > a{
  float: left;
  position:relative;
  display:inline-block;
  background: rgb(255, 255, 255);
  box-shadow: 8px 8px 8px rgba(0,0,0,.1);
  padding: 30px 10px 15px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 145px;
  margin: 0 10px;
  left: 33%;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
} */

/********** section2 **********/
/* 배경 */
#section2{}
#section2 .wrap-wave{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#section2 .wrap-wave .unit .inner{
  height: 100%;
  width: 100%;
  position: relative;
}
#section2 .wrap-wave .unit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #98d3f3; */
  background: #98d3f3;
  transition: transform 1s ease-in-out;
  transform: translateY(95%);
}
#section2 .wrap-wave .wave{
  height:50px;
  background: #b6e4fe;
}
#section2 .wrap-wave .unit .wave:before, #section2 .wrap-wave .unit .wave:after{
  content: '';
  display: block;
  width: 4800px;
  height:50px;
  position: absolute;
  left: 0;
  background: url(../img/bg_wave.png) 0 0;
  background-size: 2400px 50px;
  opacity: .1;
}
#section2 .wrap-wave .unit .wave:before{
  animation: ani_wave1 5s linear infinite;
}
@keyframes ani_wave1{
  0%{transform: translateX(-500px);}
  100%{transform: translateX(-2900px);}
}
#section2 .wrap-wave .unit .wave:after{
  animation: ani_wave2 7s linear infinite;
}
@keyframes ani_wave2{
  0%{transform: translateX(0px);}
  100%{transform: translateX(-2400px);}
}

#section2 .wrap-wave .unit .num{
  position: absolute;
  font-size: 2.5rem;
  right: 10%;
  top: 70px;
  color: #fff;
  opacity: .6;
}
#section2 .wrap-wave .unit .num > strong{
}
/* 버튼 */
#section2{}
#section2 .wrap-link{
  position: absolute;
  bottom: 50px;
  left: 150px;
}
#section2 .wrap-link .unit{
  overflow-y: hidden;
}
#section2 .wrap-link .unit > a{
  font-weight:800;
  font-style: italic;
  font-size: 3.5rem;
  color: #2d3a42;
  opacity: .2;
  height: 90px;
  line-height: 90px;
  /* float: left; */
}
#section2 .wrap-link .unit > a:hover{
  opacity: 1;
}
#section2 .wrap-link .unit .explain{
  padding: 5px;
}
#section2 .wrap-link .unit .explain > p{
  color: #2d3a42;
  opacity: .5;
}

/********** section3 **********/
#section3 {
  position: relative;
  background:linear-gradient(to bottom,#98d3f3 , #e2dcd4);
}
#section3 .wrap-photo .slick-slide {
  padding: 0 10px;
  /* 선생님질문 active로 잡을 시 검은색 못생긴 아웃라인 생성.. outline: none; */
}
#section3 .wrap-photo .slick-slide img{
  width: 860px;
  height: 520px;
  /* border-radius: 10px; */
}
#section3 .wrap-photo{
  cursor: none;
}
#section3 .wrap-photo .cursor{
  display: block;
  background: red;
  opacity: .5;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  pointer-events: none;
  transform: scale(0);
  transition: transform .2s;
}
#section3 .wrap-photo:hover .cursor{
  transform: scale(1);
}
#section3 .wrap-photo:active .cursor{
  transform: scale(2);
}
#section3 .wrap-txt{
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin-top: 224px;
  text-align: center;
}
#section3 .wrap-txt > ul{
  position: relative;
  height: 95px;
  overflow: hidden;
  /* background: red; */
}
#section3 .wrap-txt > ul > li{
  color: #4b4f52;
  font-size: 4rem;
  font-weight:800;
  font-style: italic;
  position: absolute;
  top: 95px;
  width: 100%;
  transition: top .5s ease-in-out;
}
#section3 .wrap-txt > ul > li > p{
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}
#section3 .wrap-txt > ul > li.select{
  top: 0;
}









/********** section4 **********/
#section4 {
  position: relative;
}
#section4 .sec4-pic > img{
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  bottom: 40%;
}
#section4 .wrap-typo{
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -180px 0 0 -1150px;
}
#section4 .wrap-typo .wrap-typo-inner{
  position: relative;
}
#section4 .wrap-typo .wrap-typo-inner > span{
  position: absolute;
  display: inline-block;
  font-size: 5rem;
  font-weight: 800;
	font-family: 'Roboto', sans-serif;
  bottom: 100px;
  transform:rotate(135deg);
}
#section4 .wrap-typo .wrap-typo-inner > span.ani-0{
  animation:key_ani0 1.5s linear forwards;
  motion-path: path("m1503.02245,447.5637c3.50135,7.06749 21.73921,-334.78377 -330.43592,-334.78377c-352.17513,0 -360.87081,330.43593 -363.88812,326.352");
  offset-path: path("m1503.02245,447.5637c3.50135,7.06749 21.73921,-334.78377 -330.43592,-334.78377c-352.17513,0 -360.87081,330.43593 -363.88812,326.352");
}
@keyframes key_ani0{
  0%{offset-distance:0%; opacity:1;}
  100%{offset-distance:100%; opacity:0;}
}
#section4 .wrap-input{
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section4 .wrap-input > form{
  position: absolute;
  margin-top: 0.7%;
}
#section4 .wrap-input > form .group{
  position: relative;
  font-weight: 200;
  color: #fff;
}
#section4 .wrap-input > form .group > input{
  color: #fff;
  font-size: 1rem;
  padding: 8px 0;
  display: block;
  width: 300px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #757575;
  outline: none;
  margin-bottom: 30px;
}
#section4 .wrap-input > form .group > textarea{
  width: 300px;
  border: 1px solid #757575;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  font-size: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
  margin-top: 10px;
}
#section4 .wrap-input .btn{
  outline: none;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  padding: 8px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  color: #333;
  background: #fff;
}
#section4 .wrap-input .btn:hover{
  opacity: .5;
}
#section4 .wrap-input > form .group .highlight{}
#section4 .wrap-input > form .group .bar{
  position: relative;
  display: block;
  width: 300px;
}
#section4 .wrap-input > form .group > label{
  color: #fff;
  font-size: 1rem;
  position: absolute;
  left: 0px;
  top: -20px;
}



/************** mobile **************/
@media screen and (max-width:1024px){}
@media screen and (max-width:800px){}
@media screen and (max-width:650px){
  #section0 .sec0-header{
    top: 20px;
  }
  
  
/* PUBLISHING-text */
  #section0 .focus{
    font-size: 2.5rem;
    font-style: italic;
  }
  #section0 .focus::after{
    width: 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  #section0 .focus-mask{
    width: 50px;
  }
  @keyframes mask-move {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translate(205px);
    }
  }
  @keyframes mask-inner-move{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translate(-205px);
    }
  }




    #section0 .txt{
      font-size: 0.8rem;
    }
    #section0 .txt >p:nth-of-type(2){
      font-size: 1.2rem;
    }
}
@media screen and (max-width:414px){}
@media screen and (max-width:320px){}
