/********** common **********/
.inner{width: 100%; max-width: 1440px; margin: 0 auto; padding: 0 20px;}
.blind{display: none;}
button{cursor: pointer;background-color: transparent; border: none;}


/********** fullpage-nav**********/
#fp-nav{}
#fp-nav > ul{}
#fp-nav > ul > li{
  text-align: right;
}
#fp-nav > ul > li > a{
  display: block;
}
#fp-nav > ul > li + li{
  margin-top: 2px;
}
#fp-nav > ul > li > a > span{
  font-weight:800;
  font-style: italic;
  display: inline-block;
  background: rgba(0,0,0,.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px 0 0 3px;
  font-size: 13px;
  transform: translateX(calc(100% - 10px));
  transition: transform 1s;
}
#fp-nav > ul > li.active > a > span{
  transform: translateX(0);
  background: rgb(0, 0, 0, .8);
}


/********** section0 **********/

/* section0-header */
#section0{}
#section0 .sec0-header{
  position: relative;
  z-index: 100;
  position: fixed;
  top: 50px;
  max-width: 1440px;
  width: 100%;
  float: left;
}
#section0 .sec0-header > p{  
  position: absolute;
  height: 20px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  opacity: .7;
}
#section0 .sec0-header .ico-mail{  
  background: url("../img/ico_email.svg") no-repeat ;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 35px;
  transition: all ease .3s;
  opacity: .7;
}
#section0 .sec0-header .ico-mail:hover{
  transform: scale(1.2) ;
  opacity: 1;
}

/* section0-main */
#section0 .sec0-main{
  text-align: center;
}
#section0 .focus{
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  line-height: 1;
  position: relative;
  font-weight: 500;
  font-style: italic;
  display: inline-block;
  margin-top: -30px;
  animation: focus-move 0.5s forwards;
  opacity: 0;
}
@keyframes focus-move{
  to{
    opacity: 1;
    margin-top: 0px;
  }
}
#section0 .focus::before{
  content: "PUBLISHING";
  filter: blur(3px);
}
#section0 .focus::after{
  content: "";
  position: absolute;
  width: 70px;
  height: calc(100% + 8px);
  top: -4px;
  left: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: mask-move 4s linear infinite alternate;
}
#section0 .focus-mask{
  overflow: hidden;
  position: absolute;
  width: 70px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #b45151;
  animation: mask-move 4s linear infinite alternate;
}
#section0 .focus-mask-inner{
  position: absolute;
  animation: mask-inner-move 4s linear infinite alternate;
}
@keyframes mask-move {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translate(320px);
  }
}
@keyframes mask-inner-move{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translate(-321px);
  }
}
#section0 .txt{
  color: #fff;
  animation: txt 1s forwards;
  animation-duration: 1s;
  padding-top: 30px;
  margin-bottom: -30px;
  opacity: 0;
}
@keyframes txt{
  to{
    opacity: 1;
    margin-bottom: 0;
  }
}
#section0 .txt >p{
  font-family: 'Noto Sans KR', sans-serif;
}
#section0 .txt >p:nth-of-type(2){
  padding: 15px;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}

#section0 .scroll{
  position: absolute;
  background: url(../img/ico_press.svg) no-repeat;
  width: 30px;
  height: 30px;
  bottom: 100px;
  left: 50%;
  animation: scroll 1.5s infinite;
  animation-delay: 2s;
  opacity: 0;
}
@keyframes scroll {
  to{opacity: 1;}
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(30px);
  }
}


/********** section1 **********/

#section1 {
  position: relative;
  background: url(../img/bg_sec1.png);
  /* 선생님 도와주세욥.. */
  /* 그라디언트 적용 안됨 */
/* #section1{
    background:linear-gradient
    (to bottom,#b45151 , #b6e4fe);
} */
}

#section1 .sec1-bg{
  z-index: 10;
  position: absolute;
  /* background: #fff; */
  width: calc(100% - 150px);
  height: calc(100% - 115px);
  background: #fff;
  top: 50px;
  left: 50px;
  box-shadow: 8px 8px 8px rgba(0,0,0,.1);
}
#section1 .sec1-container{
  border: 1px solid pink;
  position: absolute;
  width: calc(100% - 230px);
  height: calc(100% - 200px);
  top: 100px;
  left: 100px;
  overflow: hidden;
}
#section1 .sec1-container .left-box{
  text-align: center;
  border: 2px solid red;
  float: left;
  height: 100px;
}
#section1 .sec1-container .left-box > h1{
  display: inline-block;
  font-weight: 800;
  font-size: 32px;
  color: #b45151; 
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(196, 196, 196);
}
#section1 .sec1-container .left-box > p{}
#section1 .sec1-container .left-box > img{}



#section1 .sec1-container .top-box{
  border: 2px solid green;
  float: right;
  font-weight: 800;
  font-size: 24px;
}
#section1 .sec1-container .left-box > h1{}
#section1 .sec1-container .left-box > p{}
#section1 .sec1-container .left-box > img{}

#section1 .sec1-container .bottom-box{
  border: 2px solid purple;
  float: right;}
#section1 .sec1-nav{
  position: absolute;
  width:  calc(100% - 70px);
  height: 50px;
  margin-bottom: 30px;
  text-align: center;
  bottom: 0;
}
#section1 .sec1-nav .sec1-intro{
  z-index: 999;
  color: #b45151;
}
#section1 .sec1-nav .sec1-prof{
  color: #9e9e9e;
}
#section1 .sec1-nav .sec1-expr{
  color: #9e9e9e;
}
#section1 .sec1-nav > a{
  position:relative;
  display:inline-block;
}
#section1 .sec1-nav > a > span{
  display:inline-block;
  background: rgb(255, 255, 255);
  box-shadow: 8px 8px 8px rgba(0,0,0,.1);
  padding: 30px 10px 15px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 145px;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
}






/************** mobile **************/
@media screen and (max-width:650px){
  #section0 .sec0-header{
    top: 20px;
  }
  #section0 .sec0-main .focus{
    font-size: 2.5rem;
  }
  .focus::after{
    width: 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    }
    .focus-mask{
      width: 50px;
    }
    @keyframes mask-move {
      0%{
        transform: translateX(0);
      }
      100%{
        transform: translate(210px);
      }
    }
    @keyframes mask-inner-move{
      0%{
        transform: translateX(0);
      }
      100%{
        transform: translate(-210px);
      }
    }
    #section0 .txt{
      font-size: 12px;;
    }
    #section0 .txt >p:nth-of-type(2){
      font-size: 14px;;
    }
}